<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>beibei</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>beibeiapp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>qzone</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent101070697</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>qq</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ06063769</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx59e215733723ba80</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb2936998125</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>alipay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>AlipayBeibeiApp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>sina</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>sinaweibosso.2936998125</string>
        </array>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>9.0</string>
    <key>DTSDKName</key>
    <string>iphoneos9.0</string>
    <key>CFBundleName</key>
    <string>beibei</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleBlackOpaque</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>贝贝</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>sinaweibohdsso</string>
      <string>mqqapi</string>
      <string>weshopapp</string>
      <string>sinaweibosso</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>wtloginmqq2</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqzone</string>
      <string>wechat</string>
      <string>alipay</string>
      <string>mqqwpa</string>
      <string>mqq</string>
      <string>mizheapp</string>
      <string>weixin</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string></string>
    <key>DTSDKBuild</key>
    <string>13A340</string>
    <key>CFBundleShortVersionString</key>
    <string>3.4.9</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string></string>
    <key>BuildMachineOSBuild</key>
    <string>14F27</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>UIAppFonts</key>
    <array>
      <string>HeitiJ-Light.ttf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>3.4.9</string>
    <key>DTXcodeBuild</key>
    <string>7A220</string>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>DTPlatformBuild</key>
    <string>13A340</string>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.husor.beibei</string>
    <key>DTXcode</key>
    <string>0700</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>beibei</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
          <string>AppIcon50x50</string>
          <string>AppIcon72x72</string>
          <string>AppIcon76x76</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
